@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main">
    <div class="content">
        <div class="section group">
            <div class="col_1_of_3 span_1_of_3">
                <h3>CHÚNG TÔI LÀ AI</h3>
                <img src="~/assets/Client/images/about_img.jpg" alt="">
                <p>Home Shoppe chuyên cung cấp những linh kiện điện tử, có xuất xứ rõ ràng, 
                hàng nhập từ các công ty đã qua kiểm định chất lượng nên đảm bảo chất lượng tốt nhất. 
                Văn phòng Home Shoppe nằm tại lầu 69 tòa nhà HoangNam Building, 1025/18C CMT8, P7, Q.Tân Bình, TP.HCM. </p>

                <p>Được thành lập năm 1998 trải qua 3 lần chuyển đổi cơ cấu kinh doanh, 
                hợp tác với các công ty lớn tại Nhật Bản, Hoa Kì, 
                Canada nên bạn hoàn toàn có thể yên tâm về chất lượng cũng như dịch vụ.</p>
            </div>
            <div class="col_1_of_3 span_1_of_3">
                <h3>QUY ĐỊNH VỀ NGƯỜI MUA HÀNG</h3>
                <div class="history-desc">
                    <div style="width:100px;" class="year"><p>ĐĂNG KÝ</p></div>
                    <p class="history">Đăng kí qua Gmail, cần cập nhật đầy đủ thông tin cá nhân để người bán dễ dàng trao đổi. 
                    Cần cung cấp những thông tin chính xác, không sử dụng account clone. 
                    Mọi hình thức vi phạm sẽ bị xóa tài khoản.</p>
                    <div class="clear"></div>
                </div>
                <div class="history-desc">
                    <div style="width:100px;" class="year"><p>QUYỀN LỢI</p></div>
                    <p class="history">Được bảo mật thông tin cá nhân, 
                    có thể xem các bài đăng bán, mua hàng thoải mái, 
                    có thể tương tác với người bán để có thêm những thông tin sản phẩm 
                    cũng như tư vấn tận tình từ phía công ty người bán. 
                    Chúng tôi chỉ có trách nhiệm cung cấp thông tin cá nhân người bán khi có yêu cầu về pháp lý hay lừa đảo. 
                    Mọi chi tiết thắc mắc xin liên hệ hotline: <strong style="font-weight:bold;">035-677-5770</strong>.</p>
                    <div class="clear"></div>
                </div>
                <div class="history-desc">
                    <div  style="width:150px;" class="year"><p>TRÁCH NHIỆM</p></div>
                    <p class="history">Phải liên hệ với người bán để trao đổi thông tin sản phẩm cũng như thanh toán. 
                    Gửi feedback bằng cách rating đánh giá người bán hàng. 
                    Rating người bán một cách chân thật. Hãy trở thành người mua hàng thông minh và sáng suốt. </p>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="col_1_of_3 span_1_of_3">
                <h3>QUY ĐỊNH VỀ NGƯỜI BÁN HÀNG</h3>
                <div class="history-desc">
                    <div  style="width:100px;" class="year"><p>ĐĂNG KÝ</p></div>
                    <p class="history">Đăng kí qua Gmail, cần cập nhật đầy đủ thông tin công ty, 
                    giấy phép kinh doanh để người mua dễ dàng trao đổi. 
                    Không cung cấp những mặt hàng sản phẩm lỗi, không chất lượng, 
                    cần chân thật trong kinh doanh, hình ảnh sản phẩm phải giống với sản phẩm thật.
                    Vi phạm sẽ bị xóa tài khoản. Cấm đăng tin vĩnh viễn.</p>
                    <div class="clear"></div>
                </div>
                <div class="history-desc">
                    <div  style="width:100px;" class="year"><p>QUYỀN LỢI</p></div>
                    <p class="history">Có thể xem lại tin đã đăng, xóa tin (nhưng vẫn còn lưu trong CSDL), 
                    có thể đặt quảng cáo trên web, có thống kê để người đặt quảng cáo có thể xem tình trạng bài đăng của mình 
                    để từ đó đưa ra các lựa chọn cho nhu cầu của mình cần. 
                    Có cơ hội trở thành người đăng tích cực nếu có tỉ lệ đăng bán thành công trên 70%, 
                    sẽ được ưu tiên xét duyệt đăng bài sớm.</p>
                    <div class="clear"></div>
                </div>
                <div class="history-desc">
                    <div  style="width:150px;" class="year"><p>TRÁCH NHIỆM</p></div>
                    <p class="history">Phải liên hệ với người mua để trao đổi thông tin sản phẩm cũng như thanh toán, 
                    giao hàng với người mua hàng, chịu trách nhiệm trên sản phẩm đã bán. 
                    Phải thỏa thuận bảo hành cũng như cách thức giao hàng với người mua,
                    hãy trở thành người bán uy tín để có được rating tốt.</p>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>