<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Xác nhận yêu cầu quảng cáo #{{IDORDER}} từ HOME SHOPPE</title>
</head>
<body>
    <div id=":19w" class="a3s aXjCH ">
        <div style="font-family:&quot;Arial&quot;,Helvetica Neue,Helvetica,sans-serif;line-height:14pt;padding:20px 0px;font-size:14px;max-width:580px;margin:0 auto">
            <div class="adM">
            </div><div style="padding:0 10px;margin-bottom:25px">
                <div class="adM">
                </div><p>Xin chào {{Name}}</p>
                <p>Cảm ơn quý khách đã đặt quảng cáo tại <strong>HOME SHOPPE</strong>!</p>
                <p>Quảng cáo của quý khách đã được duyệt - bao gồm các thông tin sau:</p>
            </div>
            <hr>
            <div style="padding:0 10px">
                <table style="width:100%;border-collapse:collapse;margin-top:20px">
                    <thead>
                        <tr>
                            <th style="text-align:left;font-size:medium;padding:5px 0"><strong>Thông tin quý khách</strong></th>
                            <th style="text-align:left;font-size:medium;padding:5px 0"><strong>Nội dung quảng cáo</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="padding-right:15px">
                                <table style="width:100%">
                                    <tbody>
                                        <tr>
                                            <td>Khách hàng: {{Name}}</td>
                                        </tr>
                                        <tr>
                                            <td>Số điện thoại: {{Phone}}</td>
                                        </tr>
                                        <tr>
                                            <td style="word-break:break-word;word-wrap:break-word"><a href="mailto:{{Mail}}" target="_blank">Email: {{Mail}}</a></td>
                                        </tr>
                                        <tr>
                                            <td style="word-break:break-word;word-wrap:break-word">
                                                Địa chỉ: {{Address}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <table style="width:100%">
                                    <tbody>
                                        <tr>
                                            <td>Tên quảng cáo :{{AdName}}</td>
                                        </tr>
                                        <tr>
                                            <td style="word-break:break-word;word-wrap:break-word">Link quảng cáo: <a href="{{Link}}" target="_blank">{{Link}}</a></td>
                                        </tr>
                                        <tr>
                                            <td>Loại: {{AdType}}</td>
                                        </tr>
                                        <tr>
                                            <td style="word-break:break-word;word-wrap:break-word">
                                                Ngày bắt đầu: {{StartDate}} <br />
                                                Ngày kết thúc : {{EndDate}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Số tiền phải thanh toán: {{Money}}VNĐ</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr />
                <table style="width:100%;border-collapse:collapse;margin-top:20px">
                    <thead>
                        <tr>
                            <th style="text-align:left;width:50%;font-size:medium;padding:5px 0">Hình thức thanh toán:</th>
                            <th style="text-align:left;width:50%;font-size:medium;padding:5px 0">Thông tin chuyển khoản:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="padding-right:15px">Chuyển khoản qua ngân hàng</td>
                            <td>
                                Người nhận: <strong>Công Ty TNHH 5 thành viên HOME SHOPPE</strong><br>
                                Số tài khoản: <strong>1122334455</strong><br />
                                Ngân hàng VCB chi nhánh Gò vấp(Tp.Hồ Chí Minh)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr />
            <div style="margin-top:20px;padding:0 10px">
                <div style="padding-top:10px;font-size:medium"><strong>Thông tin hóa đơn</strong></div>
                <table style="width:100%;margin:10px 0">
                    <tbody>
                        <tr>
                            <td style="width:50%;padding-right:15px">Mã hóa đơn: #{{IDORDER}}</td>
                            <td>
                                Xin quý khách vui lòng thanh toán trước ngày chạy quảng cáo <br />
                                <strong>Lưu ý:</strong>Nếu thanh toán trễ - Ngày chạy quảng cáo sẽ dời sang ngày thanh toán
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="clear:both"></div>

            <div style="clear:both"></div>
            <div style="padding:0 10px">
                <p style="text-align:right"><i>Trân trọng,</i></p>
                <p style="text-align:right"><strong>Ban quản trị HOME SHOPPE</strong></p>
            </div>
        </div>
    </div>
</body>
</html>

