@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = "~/Views/Shared/_LayoutOutside.cshtml";
    var otp = (string)ViewBag.Reset;
}
@if (otp == null)
{
    @section script{
        <script>
            $('#exampleInputEmail').change(function (e) {
                $.ajax({
                    url: '/User/CheckEmail',
                    dataType: 'json',
                    data: {
                        email: $(this).val()
                    },
                    type: 'POST',
                    success: function (res) {
                        if (res.status == true) {
                            alert("Email không tồn tại");
                            $('#exampleInputEmail').val("");
                            e.preventDefault();
                        }
                    }
                }
                            });
                        });
        </script>
    }
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">Quên mật khẩu của bạn?</h1>
                                        <p class="mb-4">
                                            Chúng tôi hiểu mà! Cuộc đời còn nhiều cái cần phải nhớ hơn là mật khẩu. Nhập Email đăng ký tài khoản vào ô bên dưới
                                            chúng tôi sẽ Reset Password cho bạn.
                                        </p>
                                    </div>
                                    @using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post, new { @class = "user" }))
                                    {
                                        <div class="form-group">
                                            <input name="Email" type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Nhập Email đăng ký...">
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Cài lại mật khẩu
                                        </button>
                                    }
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="/dang-ky">Tạo tài khoản mới</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="/dang-nhap">Đã có tài khoản? Đăng nhập!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <script type="text/javascript">
        function reFresh() {
            window.location.href="/dang-nhap"
        }
        window.setInterval("reFresh()", 5000);
    </script>
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">Mật khẩu mới đã được gửi đến Email của bạn</h1>
                                        <p class="mb-4">
                                            Cố gắng đừng quên nữa nhé ♥
                                        </p>
                                    </div>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="/dang-ky">Đăng nhập</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}